@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Book ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.books)
            {
                <tr>
                    <th scope="row">@book.Book_Id</th>
                    <th scope="row">@book.Book_Name</th>
                    <th scope="row">@book.Price</th>
                    <th scope="row">@book.Qty</th>
                </tr>
            }
        </tbody>
    </table>
</div>


